
/* todo: this is container for the image eaither duplicate and change container name or find a way to send the image to css */

.container {
  position: relative;
  z-index: 1;
  /* object-fit: contain; */
  /* background-color:#03030a; */

}

.container::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;  
  opacity: .7; 
  z-index: -1;
  background: var(--image);  
}

.control {
  &[data-inactive] {
    opacity: 0;
    cursor: default;
  }
}

.img {
  filter:  var(--color);
}

.arrow {
  filter:  invert(100%);
}